.root {
  position: absolute;
  height: 77px;
  width: 55px;
  transition: transform 0.5s ease-in-out, opacity 0.25s ease-in-out, outline 0.1s ease-in-out;
  user-select: none;
  contain: layout style;
  transform-origin: 0% 0%;
  transform:
    translate(var(--x), var(--y))
    scale(var(--s), var(--s))
    translate(27.5px, 38.5px)
    rotate(var(--r))
    translate(-27.5px, -38.5px);
  will-change: transform, opacity;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  outline: 2px solid #ffe63f00;
}
.rootAnimatedFlip {
  perspective: 1000px;
}
.clickable {
  cursor: pointer;
}
.draggable {
  cursor: grab;
}
.draggable:active {
  cursor: grabbing;
}
:global([data-is-dragging-card="true"])
  .root:not([data-is-dragging-this-card="true"]) {
  pointer-events: none;
}
.clickable:hover,
.draggable:hover {
  outline: 2px solid #ffe63f;
}
.body {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  text-align: center;
  background-color: #eee;
}
.bodyAnimatedFlip {
  transition: transform 0.25s;
  transform-style: preserve-3d;
  will-change: transform;
}
.bodyAnimatedFlip.bodyFaceUp {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.front > * {
  border-radius: inherit;
}
.bodyAnimatedFlip .front,
.bodyAnimatedFlip .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bodyAnimatedFlip .front {
  transform: rotateY(-180deg);
}
.back {
  background-image: var(--pounce-card-back-image);
  background-size: 95% 95%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  filter: saturate(350%) brightness(115%) contrast(130%) hue-rotate(var(--hr));
}
