.root {
  gap: 10px;
}
.floatingButton {
  font-size: 15px;
  position: absolute;
  top: 0;
  right: 20px;
  padding: 8px;
  z-index: 10000000;
  cursor: pointer;
  background-color: rgb(220, 220, 220);
  text-align: center;
  border: none;
  border-radius: 0 0 4px 4px;
  min-width: 70px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-top: none;
}
.slider {
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
