.card {
  position: absolute;
  z-index: 10000;
  border-width: 1px;
  padding: 5px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  left: 5px;
  border-style: solid;
  opacity: 0.7;
  transition: opacity 0.25s linear;
  display: flex;
  align-items: center;
}
.card:hover {
  opacity: 1;
}
.connection {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: rgb(38, 156, 38);
}
.disconnected {
  background-color: rgb(177, 41, 41);
}
.spectating {
  background-color: rgb(206, 206, 49);
}
